.browse-header{
    width: 100%;
    height: 68px;
    padding-left: 80px;
    padding-right: 60px;
    background-color: #111111;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.browse-header-navigator{
    display: flex;
}

.browse-header-search{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 650px;
}

.browse-header-search-input{
    width: 250px;
    height: 34px;
    background: #030303;
    padding-left: 10px;
    color: #999999;
    font-family: 'NSans-Medium', sans-serif;
    border: 1px solid #969696;
}

.browse-header-logo{
    margin-right: 23px;
}

.browse-header-profile-panel{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 25px;
}

.browse-header-on-top {
    width: 100%;
    height: 68px;
    padding-left: 80px;
    padding-right: 60px;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}