.main-button{
    background-color: #e50914;
    color: white;
    cursor: pointer;

    font-size: 0.875rem;
    font-weight: 500;
    font-family: 'NSans-Medium', sans-serif;

    border-style: solid;
    border-width: 0.0625rem;
    border-color: rgba(0,0,0,0);
    border-radius: 0.1875rem;
}

.main-button:hover{
    background-color: #c11119;
}

