@font-face {
  font-family: 'NSans-Medium';
  src: url('../../public/fonts/NetflixSans_W_Rg.woff2') format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NSans-Bold';
  src: url('../../public/fonts/NetflixSans_W_Blk.woff2') format("woff2");
  font-weight: bold;
  font-style: normal;
}

.App {
  overflow-x: hidden;
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: #141414;
}


* {
  -ms-overflow-style: none;  /* для Internet Explorer и Edge */
  scrollbar-width: none;  /* для Firefox */
}

/* Для Webkit-браузеров, таких как Chrome, Safari и Opera */
*::-webkit-scrollbar {
  display: none;
}
