.movie-card-preview{
    width: 230px;
    height: 130px;
    border-radius: 4px;
    object-fit: cover;
}

.movie-card-preview-logo{
    width: 110px;
    height: 50px;
    border-radius: 4px;
    display: flex;
    position: absolute;
    left: 10px;
    bottom: 20px;
    z-index: 1;
}

.movie-card{
    margin-right: 8px;
    width: 230px;
    margin-bottom: 50px;
    border-radius: 4px;
}

.movie-card-info{
    position: absolute;
    border-radius: 4px;
    top: -100px;
    left: -90px;
    right: 0;
    bottom: 150px;
    width: 385px;
    height: 327px;
    background-color: #181818;
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 0;
    transform: scale(0);
    pointer-events: none;
    visibility: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.movie-card-info-actions{
    width: 100%;
    height: 60px;
    margin-top: 15px;
    padding-right: 15px;
    display: flex;
    padding-left: 15px;
}

.movie-card-info-actions-left{
    display: flex;
}

.movie-card-info-actions-right{
    display: flex;
    justify-content: end;
    width: 175px;
}

.movie-info-modal-actions-button-icon-arrow{
    margin-top: 4px;
}

.movie-card-info-actions-left-play{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    cursor: pointer;
    background-color: white;

    border-radius: 50%;
    width: 46px;
    height: 46px;
    margin-right: 10px;
}

.movie-card-info-actions-left-play:hover{
    background-color: #c4c4c4;
}

.movie-card-info-actions-icon{
    width: 23px;
    height: 23px;
    margin-left: 5px;
    margin-bottom: 2px;
}

.movie-card-info-actions-icon:hover{
    background-color: #c4c4c4;
}

.movie-card-info-number-info{
    display: flex;
    padding-left: 15px;
    margin-top: 10px;
}

.movie-card-info-genres{
    width: 100%;
    display: flex;
    justify-content: start;
    padding-left: 15px;
    color: white;
    margin-top: 10px;
}

.movie-card-info-enter-active {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
    visibility: visible;
}